<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>thench.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>962179561BD4C8D300F319B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9621796A1BD4C8D300F319B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>962179751BD4C8D300F319B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
